<br>
<br>
<div class="container">

  <div class="row">
    <div class="col-sm-2"><label>First Name :</label></div>
    <div class="col-sm-6"><input type="text"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"><label>Last Name :</label></div>
    <div class="col-sm-6"><input type="text"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"><label>Employee Id :</label></div>
    <div class="col-sm-6"><input type="text"></div>
  </div>


<!--Neec to add dotted line-->
  <br>
  <br>

  <div class="row">
    <div class="col-sm-4"> <input type="text" value="search" ></div>
    <div class="col-sm-1"> <label>Sort :</label></div>
    <div class="col-sm-2"><button>First Name</button></div>
    <div class="col-sm-2"><button>Last Name</button></div>
    <div class="col-sm-1"><button>Id</button></div>
  </div>
  <!--Neec to add dotted line-->
  <br>
  <br> 

  <!--Result of search bar-->

</div>
